#PD_OuterContainer #PD_MainContainer {
	font-family: Arial;
	border: none;
}

#PD_OuterContainer #PD_MainTitle {
	font-family: Arial;
	font-size: 24px;
	text-align: center;
	margin-bottom: 10px;
}

#PD_OuterContainer #PD_MainSubtitle {
	font-family: Arial;
	text-align: center;
	font-size: 18px;
	margin-bottom: 15px;
}

#PD_OuterContainer #PD_MainFooter {
	font-size: 15px;
	margin-top: 5px;
	margin-left: 5px;
}

#PD_OuterContainer div.PD_OfferWrapper, a#PD_SkipButton { border: none; }

#PD_OuterContainer div.PD_OfferHeadlineText { font-size: 13px; }

#PD_OuterContainer div.PD_AcceptOffer_CheckboxYes {
	height: 50px;
	padding: 0 10px 0 10px; 
}

#PD_OuterContainer div.PD_CoregImageContainer { margin: 0; }

#PD_OuterContainer div.PD_OfferContainer:hover { box-shadow: 0 0 10px #029BBF; }

#PD_OuterContainer #PD_Offers .PD_AcceptOfferContainer input[type='checkbox'] {
	width: 20px;
	height: 17px;
}

#PD_OuterContainer #PD_Offers .PD_AcceptOfferContainer label.PD_Label_Yes {
	font-size: 13px;
	vertical-align: middle;
}

#PD_OuterContainer #PD_OuterContainer div.PD_AcceptOfferContainer {
	padding-bottom: 35px;
	margin: 0 15px 0 15px;
}

#PD_OuterContainer input.PD_RCV_InputField, select.PD_RCV_InputField {
	padding-left: 3px;
	height: 15px;
	margin-bottom: 3px;
}

#PD_OuterContainer select.PD_RCV_InputField { height: 20px; }

#PD_OuterContainer #PD_SubmitButtonContainer { margin-top: 20px; }

#PD_OuterContainer #PD_SubmitButton {
	text-align: center;
	border-radius: 5px;
	font-size: 15px;
	color: white;
	border: 0;
	text-transform: uppercase;
	height: 40px;
	width: 135px;
	background-color: #029BBF;
}

#PD_OuterContainer #PD_SkipButton {
	text-align: center;
	border-radius: 5px;
	font-size: 15px;
	margin-left: 10px;
	color: white;
	border: 0;
	text-transform: uppercase;
	height: 40px;
	width: 135px;
	background-color: #02546F;
	cursor: pointer;
}

#PD_OuterContainer #PD_PoweredBy {
	cursor: pointer;
	background-repeat: no-repeat;
	background-image: url(../images/adq-logo.png);
}