table { width: 650px; }

td input { width: 25em; }

#required { color: red; }

#info { font-size: 11px; }

.form-table th { padding: 10px 10px 5px 0; }
.form-table td { padding: 5px 10px; }

#separatingLines,
#separatingLinesTwo {
	width: 620px;
	border-top: 1px solid #5D5D5D;
}

#separatingLinesTwo {
	margin-left: 20px;
}

#generalFields tr td p,
#mappingFields tr td p,
#mappingFieldsCore tr td p {
	width: 400px;
	margin-left: 3px;
	font-size: 11px;
}

#btnInfoFieldsShow input,
#btnInfoMappingFieldsShow input,
#btnExtraFieldsShow input {
	font-size: 12px;
}

#infoFields,
#mappingFields,
#mappingFieldsCore {
	margin-left: 20px;
}